.es-title-wrapper {
  text-align: center;
  margin-bottom: 2rem;
}

.es-title {
  font-family: Rodetta;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #271267;
}

.es-subtitle {
  max-width: 384px;
  margin: 0 auto;
}

.es-subtitle p {
  color: #4E4B48;
  font-family: RooneySans;
  font-size: 18px;
  font-weight: 380;
  line-height: 24.3px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.es-form-wrapper {
  max-width: 600px;
  margin: 0 auto 2rem;
}

#contact_form {
  background-color: #fff;
  max-width: 390px;
  margin: 0 auto;
  padding: 4px;
  border-radius: 8px;
}

.es-input-group {
  display: flex;
  border: 1px solid {{ section.settings.input_border_color }};
  border-radius: {{ section.settings.border_radius }}px;
  overflow: hidden;
}

.es-input {
  flex-grow: 1;
  border: none;
  padding: 1rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.es-input:focus {
  outline: none;
}

.es-button {
  padding: 0.8em 2.5em;
  border: none;
  background: #271267;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.es-submit-icon {
  width: 30px;
  height: 32px;
  display: block;
}

.es-below-text {
  text-align: center;
  margin: 2rem auto;
  max-width: 260px;
}

.es-below-text p {
  font-family: RooneySans;
  font-size: 14px;
  font-weight: 340;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.email-terms-link {
  font-family: RooneySans;
  font-size: 14px;
  font-weight: 340;
  line-height: 16px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: auto;
  color: #4E4B48;
}

.es-bottom-image {
  margin-top: 3rem;
  font-size: 0;
  line-height: 0;
}

.es-bottom-image img {
  max-width: 100%;
  height: auto;
  display: block;
}