.product-collection-slider .pcr-title-wrapper {
  text-align: center;
  margin-bottom: 3rem;
}

.product-collection-slider .pcr-title {
  font-size: 32px;
  line-height: 32px;
  margin-top: 0;
}

.product-collection-slider .pcr-subtitle {
  font-size: 18px;
  line-height: 24.3px;
  text-align: center;
  color: var(--dark-gray-color);
}

.product-collection-slider .pcr-pet-toggle {
  display: flex;
  border: 2px solid #271267;
  border-radius: 100px;
  margin: 0 auto 3rem;
  background: transparent;
  width: 219px;
}

.product-collection-slider .pcr-toggle-button {
  padding: 12px 32px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 100px;
  transition: all 0.3s ease;
  line-height: 18px;
  letter-spacing: 0.44999998807907104px;
  text-align: center;
  color: #271267;
}

.product-collection-slider .pcr-toggle-button.active {
  background-color: var(--primary-color);
  color: #ffffff;
  font-weight: 500;
}

.pcr-toggle-button:not(.active):hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.product-collection-slider .pcr-product-grid {
  display: none;
  margin-bottom: 3rem;
  justify-content: space-between;
}

.product-collection-slider .pcr-product-grid.active {
  display: flex;
}

.product-collection-slider .pcr-product-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  height: 100%;
  width: 31%;
}

.product-collection-slider .pcr-image-box {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
}

.product-collection-slider .pcr-age-badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 3px 14px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  color: #007377;
}

.product-collection-slider .pcr-product-image {
  max-height: 80%;
  width: auto;
}

.product-collection-slider .pcr-product-title {
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  margin: 0 0 3px;
  font-weight: 400;
}

.product-collection-slider .pcr-product-price {
  line-height: 1.2rem;
  text-align: left;
  margin-top: 0;
  font-size: 16px;
}

.product-collection-slider .pcr-features {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
}

.product-collection-slider .pcr-feature-item {
  line-height: 1.2rem;
  text-align: left;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1rem 1rem;
}

.product-collection-slider .pcr-feature-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-collection-slider .pcr-button-container {
  text-align: center;
}

.product-collection-slider .pcr-button {
  display: none;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.1rem;
  letter-spacing: 0.44999998807907104px;
  text-align: center;
  text-transform: uppercase;
}

.product-collection-slider .pcr-button.active {
  display: inline-block;
}

@media screen and (min-width: 750px) {
  .product-collection-slider .pcr-feature-item {
    font-size: clamp(0.8rem, 1.4vw, 1.5rem);
  }
}

@media screen and (max-width: 749px) {
  .product-collection-slider .pcr-product-grid {
    grid-template-columns: minmax(250px, 350px);
    gap: 1.5rem;
  }

  .product-collection-slider .pcr-feature-item {
    font-size: 1rem;
  }
}
